@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto&display=swap');
.err {
  
  max-width: 100%;
  font-family: 'Poppins', sans-serif !important;
  color:red;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 0px 0px;
}

.required{
  color:red;
}


h1,.h1{
  font-family: 'Poppins', sans-serif !important;
}

h2,.h2{
  font-family: 'Montserrat', sans-serif !important;
}
h3,.h3,h4,.h4,h5,.h5,h6,.h6{
  font-family: 'Roboto', sans-serif !important;
}
a.login{
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px;
}

.screenshot {
  box-shadow: none !important;
}

.w100 {
  max-width: 100%;
}

.lead {
  font-size: 14px;
}

.pointer-box p{
  font-size: 13px;
  padding-right: 9px;
}
.font-size-lg,
.blockquote,
.text-muted {
  font-size: 16px !important;
}

#clickfunnel-icon {
  font-size: 12rem;
}

.display-3 {
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  font-weight: bold !important;
}

.display-3 span {
  font-weight: 700;
}

p,
.lift,
.card-btn,
.rounded-bottom {
  font-family: 'Poppins', sans-serif !important;
}

.navbar {
  font-family: 'Poppins', sans-serif !important;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 1.5em;
}

.navbar .navbar-title {
  letter-spacing: 2px;
  font-size: 21px;
  line-height: 1.5em;
  padding-top: 10px;
}
.navbar-nav1 .nav-link{
  font-weight: 400 !important;
}
.navbar1{
  padding: 0.80rem 20px !important;
  font-family: 'Poppins', sans-serif !important;
}
.size-of-font{
  font-size: 11px !important;
  
}
.size-of-font .nav-link{
 
  font-weight: 500 !important;
}

.navbar .navbar-btn {
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 1.5em;
}

.navbar .navbar-brand-img {
  max-height: 2.4rem;
  width: auto;
  position: absolute;
  margin: auto;
  left: -12px;
  top: 0;
}
.isActive:active{
  font-weight: 700 !important;
    color: #448aff !important;;
}
.navbar .nav-item .dropdown-menu {
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 1.5em;
}

.navbar .nav-item .dropdown-header {
  letter-spacing: 2px;
  line-height: 1.5em;
}

footer .footer-brand {
  width: 65px;
}

.emailText{
  height: 53px;
line-height: 1.6;
border-radius: .375rem;
}
.feature-header-sign{
  .btn{
    border-radius:0;
    border-color: #a7b9f6 !important;
    border: 2px solid;
    padding: 0.7rem 1.25rem;
  }
  input{
    border-color: #a7b9f6;
    border-width: 2px;
  }
}
.btn-size{
  font-size: 0.8rem;
    line-height: 2;
}
.text-size{
  font-size: 0.9rem;
  line-height: 2;
}
.login-style{
  position: absolute;
    bottom: 52px;
   
    right: 0px;
}
.header-space{
  padding-top: 35px;
}
.bg-colors{
  background-color: #f4f0eb;
  height: 1%;
  
}
.mg-11{
  margin-top: 1rem !important;
}
.trials-container{
 
  box-sizing: border-box;
  max-width: 370px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.u__overflow {
  height: 600px;
  padding-right: 8.333% !important;
  overflow-y: auto!important;
}
.trial-text{
  font-size: 26px;
}
.sp_15{
  height: 15px;
}
.teams__trial{
  height: 420px;
}
.product-box{
  border-top: 10px solid #448aff;
  background-color: #fff;
  padding: 15px 15px 30px;

}
.product-box-text{
  color: #000;
  font-size: 16px;
}
.sp__1{
  height: 10px;
}
.sp__2{
  height: 20px;
}
.product-box-title-text{
  font-weight: 700;
}
.product-box-products{
  border-top: 1px dotted #222;
    border-bottom: 1px dotted #222;
}
.box.o__horizontal {
  flex-direction: row;
  justify-content: space-between;
}
.box {
  flex-direction: row;
  justify-content: space-between;
}
.o__gutter-x1{
  margin-right: 0;
}
.o__gutter-x1{
  margin-right: 0;
}
.o__by-text{
  margin-right: 3px;
  width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 2px;
}
.google-button {
  height: 60px;
  border: 1px solid #0549d1;
  color: #0549d1;
 
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
 
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
.teams__p1{
  box-sizing: border-box;
  text-align: center;
    position: relative;
    z-index: 1;
    font-size: 16px;
}
.divider__wrapper{
  background-color: #fff;
  z-index: 1;
  position: relative;
  padding: 0 6px;
}

.nav-link.isActive{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  color: #448aff !important;
}
.centers-horizontally{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.plan__text{
  font-size: 16px;
  color: #000;
  font-family: 'Poppins', sans-serif !important;
}
.plan__card {
    background-color: #f4f0eb;
    width: 680px;
    padding: 40px;
    border-radius: 8px;
    position: relative;
}
.plan-card-title{
  color: #000;
  font-family: 'Poppins', sans-serif !important; font-size: 26px;
  font-weight: 700;
  line-height: 1;
}
.sp__3 {
    height: 30px;
}
.plan-title-text{
  font-size: 12px;
  color: #000;
  font-family: 'Poppins', sans-serif !important;
}
.sp__15 {
    height: 15px;
}
.layout-box{
      min-width: 0;
    min-height: 0;
} 
.layout-box .o-flexes {
    flex: 1 1 auto;
}
.layout-box .has-columns {
    display: flex;
    flex-direction: row;
}
.overlay-opener{
    display: inline-block;
    vertical-align: bottom;
} 
.plan-title-features{
  font-size: 16px;
    margin-right: 10px;
    padding-bottom: 2px;
}
.interface-icon .o-standard {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 2px;
}
.plan-top-feature-title {
    padding-bottom: 2px;
    border-bottom: 1px dotted #000;
}
.layout-box .o-centers-all{
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.continue-footer{
      background-color: #fff;
    flex-grow: 1;
    width: 100%;
    
    position: sticky;
    bottom: 0;
}
.continue-container {
    box-shadow: 0 -4px 8px -8px;
    width: 100%;
    position: relative;
    padding: 20px;
    align-self: flex-end;
}
.teams-button.o-primary:not(.o__google) {
    
    box-shadow: unset;
}
.teams-button.o-primary {
    color: #fff;
    background-color: #286efa;
}

.button-addons {
    height: 48px;
    width: 280px;
}
.teams-button{
    
    border-radius: 6px;
    
    display: inline-block;
    
    font-weight: 600;
    font-size: 15px!important;
   
    text-align: center;
    text-decoration: none;
    transition: background-color .2s ease,opacity .2s ease;
    font-style: normal;
}
.button-span {
    vertical-align: middle;
}
.button-arrow {
    vertical-align: middle;
    margin-left: 6px;
    fill: #eee;
    stroke: #eee;
}
.plan__overflow {
  height: 400px;
  padding-right: 8.333% !important;
  overflow-y: auto!important;
}
.hgt100{
  height: auto;

}